<body>
    <app-navbar></app-navbar>
    <form>
        <h2>Sign up for an account</h2>
        <br>
        <input type="text" placeholder="Email" name="email">
        <br>
        <input type="username" placeholder="username" name="username">
        <br>
        <input type="password" placeholder="Password" name="password">
        <br>
        <input type="password" placeholder="Confirm Password">
        <br>
        <button type="submit">Sign up</button>
        <p>Have an account?</p>
        <a routerLink="login">Login here</a>
    </form>
</body>