form {
    margin-left: 10%;
}

input {
    width: 20%;
    height: 8vh;
    background-color: transparent;
    border: 2px solid blue;
    margin-bottom: 50px;
    border-radius: 20px;
}

button {
    width: 10%;
    height: 8vh;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: blue
}